.modal-wrapper {
  background: #fff;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.modal-wrapper h1 {
text-align: center;
}

.modal-wrapper div {
  display: flex;
  justify-content: center;
}

.modal-wrapper button:first-child {
  margin-right: 50px;
}
